<div class="container">
    <div class="d-flex justify-content-center cts-img">
        <a href="https://www.cognizant.com"><img src="./assets/logo.jpg" alt="dd" width="180"></a>
    </div>

    <app-search></app-search>

    <div class="row"> 
            <div class="col-md-2"></div>
             <div class="col-md-4"><app-recommendation></app-recommendation></div>       
            
                   
             <div class="col-md-4"><app-trending></app-trending></div>
             <div class="col-md-2"></div>
                
        
    </div>
    

</div>














