<div class="search-content">
    <form action="https://www.google.com/search" method="get" class="search-bar">
        <input type="text" placeholder="Search..." name="q">
        <button type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Seach"><i class='fa fa-search fa-lg'></i></button>
        <button type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search by voice"><i class='fa fa-microphone fa-lg'></i></button>
        <button type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search by camera"><i class='fa fa-camera fa-lg'></i></button> 
    </form>
    
</div>

    


